<p><table width="40%" style="margin: 1px; border: 2px solid; border-collapse: collapse; text-align: center">
  <tr>
    <td rowspan="2" style="border: 1px solid; width: 20%"><strong>Roll <%= greed_roll.number %></strong></td>
    <td rowspan="2" style="border: 1px solid; width: 25%"><strong>Score: <%= greed_roll.score %></strong></td>
    <td style="border: 1px solid; width: 20%">Rolled:</td>
    <% greed_roll.dice.each do |rolled| %>
      <td width="20px"><%= rolled %></td>
    <% end %>
  </tr>
  <tr>
    <td style="border: 1px solid">Scoring?</td>
    <% greed_roll.scoring.each do |scoring| %>
      <td><%= '<>' if scoring %></td>
    <% end %>
  </tr>
</table></p>
