<h1>My motherfucking website</h1>

<h3>Let us browse some articles.</h3>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to 'New article!', new_article_path %>
